body{
    background-image: url(../img/bg-register.jpg);
}

.navegacion{
    span{
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer{
    width: 50%;
    margin-top: 5px;
    font-size: 1.5rem;
    color: rgb(233, 238, 243);
    background-color: rgb(36, 34, 34);
    text-align: center;
}

.form{
    font-weight: 700;
    font-size: 1.5rem; 
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(233, 243, 243);
    input{
        border: 4px rgb(192, 55, 55) solid;
        padding: 10px;
        font-size: 0.9rem;
        border-radius: 20px;
        background-color: rgb(71, 69, 69);
        text-align: center;
        width: 50%;
    }
    button{
        background-color:rgb(192, 55, 55);
        color: rgb(233, 238, 243);
        padding: 18px;
        text-align: center;
        border-radius:5px;
        width: 200px;
        text-decoration: none;
        margin: 10px;
    }
    div{
        display: flex;
        width: 80%;
        margin:0 auto; 
        font-size: 0.7rem;
    }
}