
@import "header.css";
@import "main.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: black;
    color: white;
}


/*estilos mobil y tablet*/
@media (max-width: 768px){
    .header{
        height: initial;

        .navegacion{
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .anclaLogo {
                font-weight: 700;
                font-size: 1.2rem;

            }
            .listaNav{
                padding: initial;

                .listaItem{
                    .linkNav{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}

